body {
    background-color: #E4E7E4;
  }
   
   .header{
      background-color: #CF0E0E ;
      position: fixed;
      width: 100%;
      height: 150px;
      padding-top: 10px;
      z-index: 999;
      color: #ffffff;
   }
  
   .contener{
     width: 1100px;
     padding: 0;
   }
  
   .navbar {
     padding: 0;
     left: 160px;
   }
   
   .navbar span {
     font-size:15px;
   }
   
   .icon-media {
     width: 23px;
     height: 23px;
   }

   .text-help{
    text-decoration: none;
    color: white;
    font-weight: bold;
   }

   .text-help:hover{
    color: gold;
   }

   .hr1 {
    width: 3px;
    height: 17px;
    background-color: #ffffff;
  }
  
   .wrap-search {
     position: relative;
     width: 900px;
     height: 40px;
     left: 25px;
     top: -5px;
     background-color: #ffffff;
     border-radius: 10px;
   }
   
   .wrap-icon-s {
     position: absolute;
     background: #A49E9E;
     border-radius: 10px;
     width: 70px;
     height: 40px;
     right: 0px;
     top: 50%;
     transform: translateY(-50%);
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .form-control {
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     border: none;
     background-color: transparent;
   }
   
   .form-control:focus {
     box-shadow: none;
     border-radius: 10px;
   }
   
   .brand-img {
     width: 80px;
     height: 80px;
     margin-top: -10px;
   }
     
   .under-input span {
     font-size: 12px;
     font-weight: 100;
   }
   
   .wrap-navbar-input {
     margin-left: 50px;
     width: 67%;
   }

   .login{
    text-decoration:none;
    color:white;
    font-weight: bold;
   }
   .login:hover{
    color: gold;
   }
   .daftar{
    margin-right: -70px;
    text-decoration:none;
    color:white;
    font-weight: bold;
   }
   .daftar:hover{
    color: gold;
   }
   
 .produk-satu{
  margin-top: 140px;
 }
 .text-judul{
  margin-top: 50px;
 }
 .lead{
  margin-top: 190px;
 }

 .keranjang{
    background-color: #CF0E0E;
    color: #ffffff;
    border: #CF0E0E;
    font-weight: bold;
    text-decoration: none;
    height: 50px;
 }
 .keranjang:hover{
    color: gold;
    transition: 0.4s;
    box-shadow: 8px 10px 21px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 10px 21px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 21px 3px rgba(0,0,0,0.75);
 }
 .tuku{
    background-color: #CF0E0E;
    color: #ffffff;
    border: #CF0E0E;
    font-weight: bold;
    text-decoration: none;
    height: 50px;
 }
 .tuku:hover{
    color: gold;
    transition: 0.4s;
    box-shadow: 8px 10px 21px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 10px 21px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 21px 3px rgba(0,0,0,0.75);
 }
 .btn{
    background-color: #CF0E0E;
    border-color: #CF0E0E;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
 }
 .btn:hover{
    color: gold;
    transition: 0.4s;
    box-shadow: 8px 10px 21px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 10px 21px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 21px 3px rgba(0,0,0,0.75);
 }

 .footer {
  border-top: 5px solid #CF0E0E;
  top: 70px;
  position: relative;
  background-color: #ffffff;
}

.footer {
  font-size: 12px;
}

.footer .title {
  color: #666;
}

.footer .desc {
  color: #888;
}